// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
// 選項次層
.sub_menu {
    ul, ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        padding: 1em 0;
        list-style-type: none;
    }
    li {
        flex: 0 0 48%;
        margin:0 1% 12px;
        border-radius: 5px;
       
        @include screen('mobile') {
            flex: 1 1 100%;
            
        }
        a {
            border-radius: 5px;
            border: 2px solid #DDD;
            padding: .6em 1em .6em 2.5em;
            display: block;
            vertical-align: top;
            position: relative;
            height: 100%;
            box-sizing: border-box;
            font-size: 1.25em;
            line-height: 1.6em;
            @include aSetting_nocolor;
            &:before {
                content: '';
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-left: 0;
                border: 3px solid #1b1b1b;
                transform: rotate(45deg);
                border-bottom: none;
                border-left: none;
                position: absolute;
                left: 0.9em;
                top:1.1em;
                transition: .5s;
            }
            .num {
                position: absolute;
                width: 1em;
                top: 1em;
                left: .5em;
                text-align: right;
                display: none;
                &:after {
                    content: ".";
                }
            }
            &:hover {
                border: 2px solid $primaryColor;
                color: $primaryColor;
                 &:before{
                    left: 1.3em;
                 }
            }
        }
    }
}