@mixin fontSetting($FONT-SIZE:$font-size, $WEIGHT:normal) {
    font-size: $FONT-SIZE;
    font-weight: $WEIGHT;
    color: $color-word;
}
@mixin aSetting($COLOR:$aColor, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
    &:hover,
    &:focus {
        color: $aHover;
        cursor: pointer;
    }
}
@mixin aSetting_nocolor($COLOR:$color-word, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
    &:hover,
    &:focus {
        color: $aHover;
        cursor: pointer;
    }
}
body {
    @include fontSetting(1em);
    line-height: 1.5em;
    font-family: $font-family;
    -webkit-text-size-adjust: none;
}
a {
    @include aSetting();
   
   
}
// kbd
kbd {
    background: #FFF;
    border-radius: .2em;
    color: #555;
    font-weight: bold;
    display: inline-block;
    padding: .1em .6em;
    font-size: .938em;
    font-family: sans-serif;
    margin-right: .4em;
    margin-bottom: .1em;
    vertical-align: middle;
    border-top: 1px solid #BBB;
    border-bottom: 3px solid #BBB;
    border-left: 2px solid #BBB;
    border-right: 2px solid #BBB;
    ~kbd {
        margin-left: .4em;
    }
    kbd {
        border: none;
    }
}
// 字級
.font_size {
    flex: 0 0 auto;
    padding: .3em;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    span {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }
    button.fontselect {
        padding: 0.5em 1em .5em .6em;
        margin: 0;
        position: relative;
        border: none;
        font-size: 1.125em;
        // background-color: #eee;
        border-radius: 0;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border: 2px solid #ccc;
            border-left: none;
            border-bottom: none;
            position: absolute;
            right: 0px;
            top: 14px;
            transform: rotate(135deg);
        }
        &:focus:not(:focus-visible) {
            outline: none;
            box-shadow: none;
        }
        &:focus-visible {
            outline: 2px dashed $aFocus;
            box-shadow: none;
        }
    }
    ul {
        @include li-reset;
        position: absolute;
        z-index: 10;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        display: none;
        li {
           
            margin: 2px;
            button {
                border: none;
                margin: 0;
                 font-size: 1.125em;
                &:hover {
                    background-color: #eee;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                    box-shadow: none;
                }
                &:focus-visible {
                    outline: 2px dashed $aFocus;
                    box-shadow: none;
                }
            }
            a {
                display: block;
                text-align: center;
                line-height: 32px;
                border-radius: 50%;
                background: #F1F1F1;
                width: 32px;
                height: 32px;
                color: #333;
                &:hover, &:focus {
                    background: $aHover;
                    color: #FFF;
                }
                &.active {
                    background: $aHover;
                    color: #FFF;
                    &:hover, &:focus {
                        background: $aHover;
                        color: #FFF;
                    }
                }
                &.small {
                    font-size: .938em;
                }
                &.large {
                    font-size: 1.125em;
                }

            }
        }
    }
    @include screen('mobile') {
        display: none;
    }
}